.gap {
  height: 60px;
}

@media screen and (max-width: 1150px) {
  #page-container {
    min-height: calc(100vh - 100px);
    margin: 100px 0px 0px 0px;
  }
}

.page-container {
  min-height: calc(100vh - 125px);
  margin: 125px 0px 0px 0px;
  padding: 0px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: var(--clr-light);
}

.controls-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--clr-screen);
  z-index: 51;
  pointer-events: all;
}

.controls,
.controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.controls-number {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 0.9;
  color: var(--clr-dark);
}

.controls-button {
  height: 25px;
  cursor: pointer;
  margin: 3px 5px;
  z-index: 30;
  transform: scale 0.2s ease-in-out;
  fill: var(--clr-icon-dark);
}
.controls-button:hover {
  transform: scale(104%);
}
.controls-button:active {
  transform: scale(98%);
}

.controls-pipe {
  height: 18px;
  margin: 3px 5px;
  fill: var(--clr-icon-dark);
}

.progress-bar {
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--clr-transparent);
  z-index: 0;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--clr-progress);
  width: 0%;
  border-radius: 4px;
}

.filter-dropdown {
  position: absolute;
  top: 8px;
  right: 10px;
  z-index: 20;
  background: var(--clr-screen);
  border: 1px solid var(--clr-divider);
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
}

.filter-dropdown select {
  width: 100%;
  height: 30px;
  background: none;
  border: none;
  padding: 5px;
  font-size: 1em;
  color: var(--clr-dark);
  cursor: pointer;
}

.filter-dropdown select:focus {
  outline: none;
}

.filter-dropdown:hover {
  box-shadow: 0 4px 8px var(--clr-shadow1);
}

.filter-dropdown::after {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--clr-dark);
}

.filter-dropdown select option {
  background: var(--clr-screen);
  color: var(--clr-dark);
}

.filter-dropdown select:active,
.filter-dropdown select:focus {
  background: var(--clr-light);
  color: var(--clr-dark);
  border: 1px solid var(--clr-divider);
}

.read-more-button {
  background-color: var(--clr-light);
  border: 1px solid var(--clr-news-title);
  padding: 10px 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px 0px 0px 0px;
  width: 150px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.read-more-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-news-title);
  z-index: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.read-more-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.read-more-button:hover {
  color: var(--clr-light);
  border-color: var(--clr-news-title);
}

.read-more-button span {
  position: relative;
  z-index: 1;
}

.read-more-button-text {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-news-title);
  text-align: center;
  z-index: 10;
}

.read-more-button:hover .read-more-button-text {
  color: var(--clr-light);
}

.loading-content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 0px 0px;
}

.loading-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
}

.loading-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 500;
  color: var(--clr-text);
  padding: 10px;
  margin: 0;
}

.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

.header-skeleton {
  padding: 0px;
  height: 100%;
  width: 100%;
}
.header-skeleton span {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.skeleton {
  margin: 2px;
  padding: 0px;
  height: 15px;
  width: 100%;
}

/* // menu skeletons // */
.loading-skeletons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.skeleton-image {
  position: relative;
  width: 150px;
  height: 150px;
}

.skeleton-container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.skeleton-image-about {
  position: relative;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

.skeleton-text-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* // temp returns */
.temp-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  position: relative;
}

.temp-header-gradient-overlay {
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--clr-gradient-end) 0%,
    var(--clr-gradient-start) 90%,
    var(--clr-gradient-start) 100%
  );
  z-index: 5;
}

.temp-header-text-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  width: 50%;
  height: 100%;
  min-height: 400px;
  position: absolute;
  left: 0;
  z-index: 10;
}

.temp-title-container {
  display: flex;
  justify-content: center;
  align-items: normal;
  flex-direction: column;
  text-align: left;
}

.temp-title {
  font-family: 'Arial', sans-serif;
  font-size: 4.2em;
  line-height: 0.8;
  color: var(--clr-dark);
  margin: 0px 0px 0px 50px;
  font-weight: 900;
  padding: 0px 0px 0px 0px;
  text-align: left;
}

.temp-tagline {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  line-height: 0.9;
  color: var(--clr-dark);
  margin: 15px 0px 0px 50px;
  text-align: left;
  width: 65%;
}

.temp-header-pics-container {
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.temp-header-pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 1.5s ease-in-out;
}
