@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* 'lightMode' */
  --clr-light: #ffffff;
  --clr-light-screen: #ffffffb4;
  --clr-dark: #292929;
  --clr-break: #d6d7db;
  --clr-accent: #20bcfa;
  --clr-accent-dark: #1171ca;
  --clr-back: #9e9e9e;
  --clr-text: #505050;
  --clr-white: #fff;
  --clr-black: #000000;
  --clr-nav: #505050;
  --clr-dropdown: #ffffff;
  --clr-screen: #0000008a;
  --clr-error: #ff5252;
  --clr-success: #5cff47;
}

.darkMode {
  --clr-light: #080808;
  --clr-light-screen: #080808a2;
  --clr-dark: #d0d0d0;
  --clr-break: #7a7a7a;
  --clr-accent: #2cb0ec;
  --clr-accent-dark: #2091fa;
  --clr-back: #9e9e9e;
  --clr-text: #c4c4c4;
  --clr-white: #fff;
  --clr-black: #000000;
  --clr-nav: #424242;
  --clr-dropdown: #585858;
  --clr-screen: #00000077;
  --clr-error: #ff0000;
  --clr-success: #1eff00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 400px;
  min-height: 100vh;
  background-color: var(--clr-light);
  color: var(--clr-dark);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

html {
  scroll-padding-top: 65px;
  scroll-snap-type: y proximity;
}

section {
  margin: 0px 0px 0px 0px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

#root {
  margin: 0 auto;
  text-align: left;
  width: 100%;
}

.gap {
  height: 60px;
}
