.gap {
  height: 60px;
}

@media screen and (max-width: 1150px) {
  #page-container {
    min-height: calc(100vh - 100px);
    margin: 100px 0px 0px 0px;
  }
}

.page-container {
  min-height: calc(100vh - 100px);
  margin: 160px 0px 0px 0px;
  padding: 0px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
  background-color: var(--clr-light);
}

.controls-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 5px;
  border-radius: 20px;
  background-color: var(--clr-screen);
  z-index: 51;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.controls-number {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 0.9;
  color: var(--clr-dark);
}

.controls-button {
  height: 25px;
  cursor: pointer;
  margin: 3px 5px;
  z-index: 30;
  transform: scale 0.2s ease-in-out;
}
.controls-button:hover {
  transform: scale(104%);
}
.controls-button:active {
  transform: scale(98%);
}

.controls-pipe {
  height: 18px;
  margin: 3px 5px;
}

.progress-bar {
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--clr-transparent);
  z-index: 0;
}

.progress-bar-fill {
  height: 100%;
  background-color: var(--clr-progress);
  width: 0%;
  border-radius: 4px;
}

.loading-content-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px 0px 0px 0px;
}

.loading-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: 100%;
}

.loading-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 500;
  color: var(--clr-text);
  padding: 10px;
  margin: 0;
}

.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
}

.header-skeleton {
  padding: 0px;
  height: 100%;
  width: 100%;
}
.header-skeleton span {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

.skeleton {
  margin: 2px;
  padding: 0px;
  height: 15px;
  width: 100%;
}

/* // menu skeletons // */
.loading-skeletons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px 10px;
}

.skeleton-image {
  position: relative;
  width: 150px;
  height: 150px;
}

.skeleton-container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.skeleton-image-about {
  position: relative;
  width: 250px;
  height: 180px;
  margin-right: 20px;
}

.skeleton-text-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
