@media screen and (max-width: 900px) {
  .nav-button {
    display: none;
  }
  #mute-toggle {
    margin-right: 50px;
  }
  #mute-toggle,
  #dark-toggle {
    margin-top: 5px;
  }
  #menu-icon {
    display: inline !important;
    color: var(--clr-dark);
    margin: 5px 10px 0px 0px;
    cursor: pointer;
    transform: scale(170%);
  }
  #menu-icon:hover {
    color: var(--clr-accent);
  }
  #menu-icon:active {
    color: var(--clr-accent-light);
  }
  #dropdown-menu {
    display: block;
  }
  #dropdown-toggles {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .dark-toggle,
  .mute-toggle {
    display: none;
  }
  #dropdown-toggles {
    display: block;
  }
  #dropdown-menu {
    height: 300px;
  }
}

@media screen and (max-width: 476px) {
  #footer-link {
    /* margin: 15px 20px 0px 20px; */
  }
  #footer-link-container {
    width: 60%;
  }
}
@media screen and (max-width: 457px) {
  #footer-link {
    /* margin: 15px 20px 0px 20px; */
  }
  #footer-link-container {
    width: 80%;
  }
}

.nav-container {
  width: 100%;
  height: 100px;
  min-width: 350px;
  background-color: var(--clr-light-screen);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
}

.nav-contents {
  width: 95%;
  min-width: 350px;
  height: 65px;
  position: fixed;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button-container {
  width: 20%;
  height: 55px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.home-button-adjacent {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px 0px 0px 10px;
}

.nav-buttons-container {
  width: 80%;
  height: 55px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 0px 0px 12px 0px;
}

.home-button {
  color: var(--clr-light);
  text-decoration: none;
  cursor: pointer;
  margin: 0px 5px 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-button:hover {
  text-decoration: none;
  transition: transform 0.2s;
}
.home-button:active {
  text-decoration: none;
  transition: transform 0.2s;
}

.AMG-logo-nav {
  width: 200px;
}

.dark-toggle {
  margin: 0px 15px 0px 30px;
  width: 20px;
  cursor: pointer;
}

.mute-toggle {
  margin: 0px 10px 0px 15px;
  width: 20px;
  cursor: pointer;
}

.nav-button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  color: var(--clr-dark);
  cursor: pointer;
  margin: 0px 35px;
  text-decoration: none;
  position: relative;
}

.nav-button::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--clr-accent);
  transition: width 0.4s ease, left 0.4s ease;
  transform: translateX(-50%);
}

.nav-button:hover::before,
.nav-button:active::before {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.nav-button:hover,
.nav-button:active {
  color: var(--clr-accent);
}

.menu-icon {
  display: none;
}

.dropdown-menu {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 250px;
  height: 250px;
  /* box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4); */
  z-index: 20;
  background-color: var(--clr-light-screen);
  display: none;
}

.dropdown-links {
  width: 100%;
  height: 70%;
  /* border-top: 1px solid var(--clr-break); */
  display: flex;
  justify-content: left;
  align-items: baseline;
  flex-direction: column;
  text-align: start;
  margin: 5px 0px 0px 0px;
}

.dropdown-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;
  color: var(--clr-dark);
  cursor: pointer;
  margin: 10px 35px 0px 35px;
  text-decoration: none;
  position: relative;
}

.dropdown-link::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 50%;
  background-color: var(--clr-accent);
  transition: width 0.4s ease, left 0.4s ease;
  transform: translateX(-50%);
}

.dropdown-link:hover::before,
.dropdown-link:active::before {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-link:hover,
.dropdown-link:active {
  color: var(--clr-accent);
}

.dropdown-toggles {
  margin: 25px 0px 0px 0px;
}

.dropdown-dark-toggle {
  margin: 0px 15px 0px 40px;
  width: 20px;
  cursor: pointer;
}

.dropdown-mute-toggle {
  margin: 0px 10px 0px 15px;
  width: 20px;
  cursor: pointer;
}
