.news-container {
  height: calc(100vh - 100px);
  margin: 100px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  min-height: 800px;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.news-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.homepage-logo {
  width: 60%;
  max-width: 500px;
}
