@media screen and (max-width: 1125px) {
  #artist-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0;
  }
  #artist-bio {
    width: 100%;
    margin-right: 5%;
  }
  #artist-other {
    width: 100%;
    padding-left: 0;
    border-left: 0px solid var(--clr-break);
    margin: 20px 0px 0px 0px;
  }
}

@media screen and (max-width: 750px) {
  #artist-detail-title-container {
    width: 100%;
    padding: 10px;
    background-color: var(--clr-light);
    box-shadow: 0 0px 0px var(--clr-shadow1);
    margin-top: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  #artist-news-article {
    display: flex;
    padding: 20px 0px 20px 0px;
    border-top: 0px solid var(--clr-news-break);
    border-bottom: 1px solid var(--clr-news-break);
  }
}

@media screen and (max-width: 500px) {
  #news-artist-image {
    margin-right: 8px;
  }
  #artist-title {
    font-size: 2.6em;
  }
  #artist-social-icon {
    height: 20px;
  }
}

.artist-header {
  width: 100%;
  position: relative;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.artist-header-gradient-overlay {
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--clr-gradient-end) 0%,
    var(--clr-gradient-start) 90%,
    var(--clr-gradient-start) 100%
  );
  z-index: 1;
}

.artist-header-pics-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.artist-header-pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.artist-detail-title-container {
  width: 80%;
  max-width: 1000px;
  padding: 20px 20px 50px 20px;
  background-color: var(--clr-light);
  box-shadow: 0 2px 8px var(--clr-shadow1);
  margin-top: -50px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.artist-title-content {
  display: flex;
  align-items: center;
}

.news-artist-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.artist-title-container {
  flex: 1;
}

.artist-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.2em;
  font-weight: 800;
  line-height: 1.2;
  color: var(--clr-dark);
  margin-bottom: 10px;
}

.artist-social-icons {
  display: flex;
  gap: 15px;
  margin: 0px 0px 0px 4px;
}

.artist-social-icon {
  height: 24px;
}

.artist-detail-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

.artist-bio-container {
  width: 70%;
  margin-right: 2.5%;
}
.artist-other {
  width: 25%;
  padding-left: 2.5%;
}

.manager-container {
  width: 100%;
  margin: 0px 0px 10px 0px;
}

.section-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: var(--clr-dark);
  margin-bottom: 10px;
}

.artist-management {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  line-height: 1.6;
  color: var(--clr-dark);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-management-email {
  font-family: 'Nunito', sans-serif;
  font-size: 0.95em;
  line-height: 1.6;
  color: var(--clr-text);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.section-text-container {
  display: flex;
  justify-content: left;
  width: 100%;
  position: relative;
}

.text-gradient-shown {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, var(--clr-light), var(--clr-transparent));
  pointer-events: none;
}
.text-gradient-hidden {
  display: none;
}

.artist-bio-text-expanded,
.artist-bio-text-hidden {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  line-height: 1.42;
  color: var(--clr-dark);
}
.artist-bio-text-hidden {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.artist-bio-text-hidden {
  cursor: pointer;
}

.show-more-text-button {
  background-color: var(--clr-show-more1);
  border: 1px solid var(--clr-show-more1);
  padding: 8px 2px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0px 0px 0px;
  width: 130px;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.show-more-text-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-accent);
  z-index: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.show-more-text-button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.show-more-text-button span {
  position: relative;
  z-index: 1;
}

.show-more-text-button-text {
  font-family: 'Poppins', sans-serif;
  color: var(--clr-light);
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
  line-height: 1.1;
  z-index: 10;
}

.show-more-text-button:hover .show-more-text-button-text {
  color: var(--clr-light);
}

.artist-content {
  margin: 20px 0px 10px 0px;
}

.audio-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 20px 0px 0px 0px;
  border-bottom: 1px solid var(--clr-news-break);
}

.audio-list-item {
  padding: 8px;
  border-top: 1px solid var(--clr-news-break);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.audio-list-item.selected {
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent-screen);
  border-radius: 10px;
}
.audio-list-selected {
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent-screen);
  border-radius: 10px;
}

.audio-list-art {
  width: 50px;
  border-radius: 10px;
}

.audio-list-text {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.audio-list-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.audio-list-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.15em;
  font-weight: 600;
  line-height: 1.2;
  color: var(--clr-dark);
  padding: 0px 10px;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.explicit-box {
  border: 1px solid var(--clr-news-title);
  padding: 0px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 18px;
  margin: 0% 0px 0px 0px;
}

.explicit-text {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.7em;
  font-weight: 600;
  line-height: 0.9;
  color: var(--clr-news-title);
  transform: scaleY(95%);
  transform: scaleX(110%);
}

.audio-list-subtext {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.audio-list-artist {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.95em;
  font-weight: 400;
  line-height: 1.15;
  color: var(--clr-dark);
  padding: 0px 0px 0px 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
}

.audio-list-album {
  font-family: 'Merriweather', sans-serif;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
  color: var(--clr-text);
  padding: 2px 0px 0px 10px;
  text-align: left;
}

.audio-list-date {
  font-family: 'Merriweather', sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
  color: var(--clr-text);
  padding: 2px 0px 0px 5px;
  text-align: left;
}

.audio-list-item:hover .audio-list-art {
  box-shadow: 0 4px 8px var(--clr-shadow2);
}
.audio-list-item:hover .audio-list-art,
.audio-list-item:hover .audio-list-title,
.audio-list-item:hover .audio-list-artist,
.audio-list-item:hover .audio-list-album,
.audio-list-item:hover .audio-list-date,
.audio-list-item:hover .explicit-box {
  transform: translateY(-2px);
  transition: transform 0.15s ease-in-out;
}
.audio-list-item:active .audio-list-art {
  box-shadow: 0 3px 6px var(--clr-shadow2);
}
.audio-list-item:active .audio-list-art,
.audio-list-item:active .audio-list-title,
.audio-list-item:active .audio-list-artist,
.audio-list-item:active .audio-list-album,
.audio-list-item:active .audio-list-date,
.audio-list-item:hover .explicit-box {
  transform: translateY(1px);
  transition: transform 0.15s ease-in-out;
}

.audio-list-item:hover .audio-list-title,
.audio-list-item:hover .audio-list-artist,
.audio-list-item:hover .audio-list-album,
.audio-list-item:hover .audio-list-date,
.audio-list-selected:hover .audio-list-title,
.audio-list-selected:hover .audio-list-artist,
.audio-list-selected:hover .audio-list-album,
.audio-list-selected:hover .audio-list-date {
  color: var(--clr-accent);
}

.artist-video {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.video-title-artist-container {
  width: 100%;
  display: flex;
  justify-content: left;
}

.video-title-artist {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  color: var(--clr-dark);
  margin: 5px 0px 5px 5px;
  text-align: left;
}

.artist-news {
  margin-top: 20px;
}

.artist-news-article {
  display: flex;
  padding: 20px 0px 20px 0px;
  border-top: 1px solid var(--clr-news-break);
}

.artist-news-article-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.1s ease-in-out;
}
.artist-news-article-image:hover {
  box-shadow: 0 4px 8px var(--clr-shadow2);
}

.artist-news-article-image:hover + .artist-news-article-content,
.artist-news-article-image:hover {
  transform: translateY(-2px);
  transition: transform 0.15s ease-in-out;
}

.artist-news-article-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.artist-news-article-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  line-height: 1;
  color: var(--clr-news-title);
  margin: 0px 0px 2px 0px;
  cursor: pointer;
}
.artist-news-article-content h4:hover {
  color: var(--clr-news-title-dark);
}

.artist-news-article-desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: var(--clr-text);
  margin: 5px 0px 0px 0px;
  width: 90%;
}

.artist-news-article-date {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85em;
  color: var(--clr-text);
  margin: 2px 0px 0px 0px;
  width: 90%;
}
