@media screen and (max-width: 860px) {
  #audio-progress-range {
    width: calc(64%);
  }
}

@media screen and (max-width: 660px) {
  #audio-selection-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #audio-detail-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 10px 0px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #audio-detail-text {
    margin: 15px 0px 5px 0px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #audio-detail-artist {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #audio-detail-album {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #audio-detail-date {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  #audio-progress-container,
  #audio-controls-container {
    justify-content: center;
  }
  #audio-play-button {
    margin: 3px 5px;
  }
}

@media screen and (max-width: 460px) {
  #audio-detail-img {
    width: 150px;
  }
}

.audio-selection-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  border: 1px solid var(--clr-news-break);
  padding: 30px 20px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.audio-selection-header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  z-index: -2;
  filter: blur(12px);
  transform: scale(1.05);
}

.audio-selection-header-background-overlay {
  background-color: var(--clr-overlay);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: inset 0 0 50px var(--clr-vignette);
}

.audio-detail-container {
  margin: 0px 0px 0px 20px;
  width: 100%;
  position: relative;
}

.tilt-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.audio-detail-img {
  width: 200px;
  box-shadow: 0 4px 8px var(--clr-shadow1), 0 6px 20px var(--clr-shadow3);
  cursor: zoom-in;
  transition: box-shadow 0.15s ease-in-out;
}
.audio-detail-img:hover {
  box-shadow: 0 4px 8px var(--clr-shadow3), 0 6px 20px var(--clr-shadow3);
}

.audio-detail-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 110px;
  margin: 0px 0px 20px 0px;
}

.audio-detail-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.audio-detail-artist {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.15;
  color: var(--clr-light);
  text-align: left;
  display: flex;
  flex-direction: row;
  text-shadow: 1px 1px 2px var(--clr-shadow1), 2px 2px 4px var(--clr-shadow1);
  transform: scaleY(90%);
}

.audio-detail-album {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
  color: var(--clr-text-light);
  text-align: left;
  transform: scaleY(80%);
}

.audio-detail-date {
  font-family: 'Merriweather', sans-serif;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
  color: var(--clr-text-light2);
  text-align: left;
  transform: scaleY(80%);
}

.audio-player-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.audio-progress-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.audio-progress-numbers {
  margin: 0px 20px 0px 0px;
  font-family: 'Nunito', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  line-height: 1.15;
  font-style: italic;
  color: var(--clr-light);
}

.audio-controls-container {
  padding: 10px 0px 0px 0px;
  border-radius: 20px;
  z-index: 51;
  display: flex;
  justify-content: left;
}

.audio-controls {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-direction: row;
}

.audio-controls-number {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 0.9;
  color: var(--clr-dark);
}

.audio-controls-button,
.audio-play-button {
  height: 30px;
  cursor: pointer;
  z-index: 30;
  transform: scale 0.2s ease-in-out;
}
.audio-controls-button {
  margin: 3px 5px;
}
.audio-play-button {
  margin: 3px 5px 3px 0px;
}
.audio-controls-button:hover {
  transform: scale(104%);
}
.audio-controls-button:active {
  transform: scale(98%);
}

.audio-controls-pipe {
  height: 22px;
  margin: 3px 5px;
}

.audio-volume {
  width: 100px;
  position: relative;
  margin: 0px 0px 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.audio-progress-slider {
  width: calc(66%);
  position: relative;
  margin: 0px 0px 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
