.amg-banner-container {
  overflow: hidden;
  padding: 20px 0;
  background: var(--clr-banner);
  white-space: nowrap;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: background-color 1s ease;
  margin: 0px 0px 0px 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.amg-banner-container:before {
  left: 0;
  background: linear-gradient(
    to left,
    var(--clr-gradient-start),
    var(--clr-gradient-end)
  );
}
.amg-banner-container:after {
  right: 0;
  background: linear-gradient(
    to right,
    var(--clr-gradient-start),
    var(--clr-gradient-end)
  );
}
.amg-banner-container:before,
.amg-banner-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
  opacity: 1;
  pointer-events: none;
}

.amg-banner-wrapper {
  display: flex;
  width: 200%;
}

.amg-banner-content {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.amg-banner-icon {
  height: 30px;
  margin: 0 40px;
  fill: var(--clr-icon-dark);
}

.amg-banner-arrow {
  height: 30px;
  margin: 0 40px;
  fill: var(--clr-icon-dark);
}

/* artists banner */
.artists-banner-container {
  overflow: hidden;
  padding: 16px 0;
  background: var(--clr-banner);
  white-space: nowrap;
  position: relative;
  z-index: 1;
  width: 100%;
  transition: background-color 1s ease;
  margin: 0px 0px 0px 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.artists-banner-container:before {
  left: 0;
  background: linear-gradient(
    to left,
    var(--clr-gradient-start),
    var(--clr-gradient-end)
  );
}
.artists-banner-container:after {
  right: 0;
  background: linear-gradient(
    to right,
    var(--clr-gradient-start),
    var(--clr-gradient-end)
  );
}
.artists-banner-container:before,
.artists-banner-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: '';
  z-index: 2;
  opacity: 1;
  pointer-events: none;
}

.artists-banner-wrapper {
  display: flex;
  width: 200%;
}

.artists-banner-content {
  display: flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.artists-banner-icon {
  height: 42px;
  margin: 0 40px;
}

.artists-banner-arrow {
  height: 25px;
  margin: 0 40px;
}
