@media screen and (max-width: 1000px) {
  #location-text-title {
    padding: 20px 20px 15px 20px;
    font-size: 3em;
  }
  #location-text {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 860px) {
  #about-location {
    flex-direction: column;
  }
  #location-text-container {
    width: 100%;
    height: unset;
    padding: 20px 20px 0px 20px;
    margin-bottom: -5px;
  }
  #location-text-title {
    padding: 20px 20px 10px 20px;
    font-size: 3em;
    text-align: center;
  }
  #location-text {
    padding: 20px 20px 10px 20px;
    width: 100%;
    font-size: 1em;
  }
  #location-img-container {
    width: 100%;
    height: 350px;
  }
  #location-gradient {
    background: linear-gradient(
      to bottom,
      var(--clr-light),
      var(--clr-transparent)
    );
  }
  #location-button-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    top: unset;
    bottom: 28%;
    justify-content: center;
  }
  #location-button {
    position: relative;
  }
  #indicator {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2px;
  }
  #indicator-line {
    width: 2px;
    height: 60px;
    background-color: var(--clr-dark);
  }
  #indicator-circle {
    width: 10px;
    height: 10px;
    background-color: var(--clr-dark);
    border-radius: 50%;
  }
}

@media screen and (max-width: 530px) {
  #location-button-container {
    bottom: 12%;
  }
}

.location-container {
  width: 100%;
  background-color: var(--clr-section);
}

.about-location {
  width: 100%;
  height: 100%;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.location-text-container {
  background-color: var(--clr-light);
  width: 50%;
  height: 560px;
  padding: 50px 0px 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.location-text-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 3.5em;
  line-height: 0.8;
  color: var(--clr-dark);
  margin: 0;
  font-weight: 900;
  padding: 40px 20px 40px 20px;
}

.location-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  line-height: 1;
  color: var(--clr-dark);
  margin: 0;
  font-weight: 400;
  padding: 10px 100px 10px 20px;
  width: 90%;
}

.location-img-container {
  position: relative;
  background-color: var(--clr-section);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.location-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.location-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    var(--clr-transparent),
    var(--clr-light)
  );
  z-index: 2;
}

.location-button-container {
  width: 100px;
  height: 300px;
  z-index: 50;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.location-button {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5em;
  line-height: 0.8;
  font-weight: 800;
  color: var(--clr-light);
  position: relative;
  margin: 10px 10px;
  padding: 5px 2px;
  width: 150px;
  border: 2px solid var(--clr-accent);
  background-color: var(--clr-accent);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px var(--clr-shadow1);
  cursor: pointer;
  z-index: 2;
}
.location-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px var(--clr-shadow2);
  background-color: var(--clr-accent-light);
  border: 2px solid var(--clr-accent-light);
  transition: transform 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}
.location-button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 4px var(--clr-shadow2);
  transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out;
}
.location-button.selected {
  color: var(--clr-white);
  background-color: var(--clr-accent-dark);
  border: 2px solid var(--clr-accent-dark);
}

.indicator {
  position: absolute;
  top: 50%;
  right: -92px;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
}

.indicator-line {
  width: 80px;
  height: 2px;
  background-color: var(--clr-dark);
}

.indicator-circle {
  width: 10px;
  height: 10px;
  background-color: var(--clr-dark);
  border-radius: 50%;
}
