.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-light);
  z-index: 9999;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.splash-container.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.splash-container.fade-out {
  opacity: 0;
  pointer-events: none;
}

.splash-logo {
  width: 60%;
  max-width: 300px;
  opacity: 0;
  animation: fadeInGrow 1.15s ease-in-out;
  margin: 0px 0px 50px 0px;
  transition: opacity 1s ease-in-out;
}

.splash-container.fade-in .splash-logo {
  opacity: 1;
}

.splash-container.fade-out .splash-logo {
  opacity: 0;
}

@keyframes fadeInGrow {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  45% {
    opacity: 1;
    transform: scale(1);
  }
  55% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
