.artist-video {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.video-title-artist-link-container,
.video-title-artist-container {
  max-width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: scale 0.15s ease-in-out;
}

.pointer-icon-container,
.pointer-icon-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-title-indicator {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--clr-dark);
  margin: 5px 0px 5px 5px;
  text-align: left;
  width: 11px;
  fill: var(--clr-icon-dark);
}

.video-title-link-icon {
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--clr-dark);
  margin: 5px 0px 5px 5px;
  text-align: left;
  width: 15px;
  fill: var(--clr-icon-dark);
}

.video-title {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  color: var(--clr-dark);
  margin: 5px 0px 5px 5px;
  text-align: left;
}

.video-artist {
  font-family: 'Merriweather', sans-serif;
  font-size: 1.05em;
  font-weight: 400;
  font-style: italic;
  color: var(--clr-text);
  margin: 8.5px 0px 5px 5px;
  text-align: left;
  transform: scaleY(95%);
}
.video-title-artist-link-container:hover .video-title,
.video-title-artist-link-container:hover .video-artist {
  color: var(--clr-accent);
}
.video-title-artist-link-container:hover .video-title-link-icon {
  fill: var(--clr-accent);
}
